*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article.artykul1{
    background-color: rgb(42, 109, 203);
    color: white;
    display: flex;
}

section.artykul1_lewo{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

p.O_mnie{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

p.umiejetnosci{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

p.umiejetnosci_teskt{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

p.portfolio1_tekst{
    padding-left: 40px;
    padding-right: 40px;
}

p.projekt_tytul{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

button.przykladowy_projekt1{

    padding: 15px;
    border-radius: 20px;
    border: none;
    transition: .5s;
}

button.przykladowy_projekt1:hover{
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 2);
}

section.projekty_flexbox{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 20px;
}

p.moje_projekty{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

section.wszytskie_projekty{
    background-color: rgb(42, 109, 203);
    color: white;
    padding: 10px;
    height: 520px;
}


img.zdjecie{
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 2px 5px 10px black;
}

img.zdjecie:hover{
    transform: scale(1.1);
}

div.projekty_okienko{
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    color: black;
    width: 280px;
    height: auto;
    border: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 2px 5px 14px black;
}

div.projekty_okienko:hover{
    transform: scale(1.1);
}

div.projekty_okienko > p.tytulek{
    font-size: large;
    font-weight: bold;
}

.iglogo{
    height: 50px;
}

.readmore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.readmoretext{
    margin-top: 20px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    transition: .5s;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 5px 10px black;
}

.readmoretext:hover{
    transform: scale(1.1);
}

.zdj1{
    width: 100%;
}

.main-contact{
    background-color: rgb(42, 109, 203);
    color: white;
    
}

.h1-contact{
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
}

.div-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-contact{
    text-align: center;
}

.but-send{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
    transition: .5s;
}

.but-send:hover{
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 2);
}