/*-------------STOPKA----------------*/

footer{
    padding: 20px;
}

img.zdjecie_stopka{
    width: 50px;
    height: 50px;
    padding: 10px;
}

div.div_zdjecia_stopka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.stopka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.link_stopka{
    text-decoration-line: none;
    color: black;
    padding: 10px;
}

a.link_stopka:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
}