/*-----------NAGŁÓWEK-----------*/
header{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header{
    overflow: hidden;
    position: sticky;
    top: 0px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

img.zdj_logo{
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
}

.menu{
    font-size: large;
    background-color: white;
    width: 150px;
    height: 80px;
    transition: .5s;
    cursor: pointer;
    padding: 30px;
}

a{
  text-decoration: none;
  color: black;
}

.menu:hover{
    color: black;
    background-color: #ddd;
}

/*-----------Nagłówek-----------*/